<div class="container-fluid page-four">
    <h1>{{bll.varSet.pageTest}}</h1>
    <div class="container">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li><a ui-sref="home.pageFour.menuOne" ui-sref-active="active">menuOne</a></li>
            <li><a ui-sref="home.pageFour.menuTwo" ui-sref-active="active">menuTwo</a></li>
            <li><a ui-sref="home.pageFour.menuThree" ui-sref-active="active">menuThree</a></li>
            <li><a ui-sref="home.pageFour.menuFour" ui-sref-active="active">menuFour</a></li>
        </ul>
        <div ui-view="" class="view-content"></div>
    </div>
</div>